<!DOCTYPE html>
<html>
		<head>
		<title>40223154的網站</title>
		</head>
		
		
		
		
		<body>
			<a href= https://s<%=G1[0]%>.github.io/2016fallcp_hw/#/><%=G1[0]%></a>			<a href= https://s<%=G1[1]%>.github.io/2016fallcp_hw/#/><%=G1[1]%></a>			<a href= https://s<%=G1[2]%>.github.io/2016fallcp_hw/#/><%=G1[2]%></a></br>
			<a href= https://s<%=G2[0]%>.github.io/2016fallcp_hw/#/><%=G2[0]%></a>			<a href= https://s<%=G2[1]%>.github.io/2016fallcp_hw/#/><%=G2[1]%></a>			<a href= https://s<%=G2[2]%>.github.io/2016fallcp_hw/#/><%=G2[2]%></a>    		<a href= https://s<%=G2[3]%>.github.io/2016fallcp_hw/#/><%=G2[3]%></a>			<a href= https://s<%=G2[4]%>.github.io/2016fallcp_hw/#/><%=G2[4]%></a>	<a href= https://s<%=G2[5]%>.github.io/2016fallcp_hw/#/><%=G2[5]%></a></br>
			<a href= https://s<%=G3[0]%>.github.io/2016fallcp_hw/#/><%=G3[0]%></a>			<a href= https://s<%=G3[1]%>.github.io/2016fallcp_hw/#/><%=G3[1]%></a>			<a href= https://s<%=G3[2]%>.github.io/2016fallcp_hw/#/><%=G3[2]%></a>    		<a href= https://s<%=G3[3]%>.github.io/2016fallcp_hw/#/><%=G3[3]%></a>			<a href= https://s<%=G3[4]%>.github.io/2016fallcp_hw/#/><%=G3[4]%></a>	<a href= https://s<%=G3[5]%>.github.io/2016fallcp_hw/#/><%=G3[5]%></a></br>
			<a href= https://s<%=G4[0]%>.github.io/2016fallcp_hw/#/><%=G4[0]%></a>			<a href= https://s<%=G4[1]%>.github.io/2016fallcp_hw/#/><%=G4[1]%></a>			<a href= https://s<%=G4[2]%>.github.io/2016fallcp_hw/#/><%=G4[2]%></a>    		<a href= https://s<%=G4[3]%>.github.io/2016fallcp_hw/#/><%=G4[3]%></a>			<a href= https://s<%=G4[4]%>.github.io/2016fallcp_hw/#/><%=G4[4]%></a>	<a href= https://s<%=G4[5]%>.github.io/2016fallcp_hw/#/><%=G4[5]%></a></br>
			<a href= https://s<%=G5[0]%>.github.io/2016fallcp_hw/#/><%=G5[0]%></a>			<a href= https://s<%=G5[1]%>.github.io/2016fallcp_hw/#/><%=G5[1]%></a>			<a href= https://s<%=G5[2]%>.github.io/2016fallcp_hw/#/><%=G5[2]%></a>    		<a href= https://s<%=G5[3]%>.github.io/2016fallcp_hw/#/><%=G5[3]%></a>			<a href= https://s<%=G5[4]%>.github.io/2016fallcp_hw/#/><%=G5[4]%></a>	<a href= https://s<%=G5[5]%>.github.io/2016fallcp_hw/#/><%=G5[5]%></a></br>
			<a href= https://s<%=G6[0]%>.github.io/2016fallcp_hw/#/><%=G6[0]%></a>			<a href= https://s<%=G6[1]%>.github.io/2016fallcp_hw/#/><%=G6[1]%></a>			<a href= https://s<%=G6[2]%>.github.io/2016fallcp_hw/#/><%=G6[2]%></a>    		<a href= https://s<%=G6[3]%>.github.io/2016fallcp_hw/#/><%=G6[3]%></a>			<a href= https://s<%=G6[4]%>.github.io/2016fallcp_hw/#/><%=G6[4]%></a>	<a href= https://s<%=G6[5]%>.github.io/2016fallcp_hw/#/><%=G6[5]%></a></br>
			<a href= https://s<%=G7[0]%>.github.io/2016fallcp_hw/#/><%=G7[0]%></a>			<a href= https://s<%=G7[1]%>.github.io/2016fallcp_hw/#/><%=G7[1]%></a>			<a href= https://s<%=G7[2]%>.github.io/2016fallcp_hw/#/><%=G7[2]%></a>    		<a href= https://s<%=G7[3]%>.github.io/2016fallcp_hw/#/><%=G7[3]%></a>			<a href= https://s<%=G7[4]%>.github.io/2016fallcp_hw/#/><%=G7[4]%></a>	<a href= https://s<%=G7[5]%>.github.io/2016fallcp_hw/#/><%=G7[5]%></a></br>
			
		</body>
</html>